<html lang="en">
  <link rel="stylesheet" href="assets/css/instruction.css">
  <script src="lib/d3.min.js" charset="utf-8"></script>
  <script src="lib/jquery.min.js"></script>
  <script src="lib/flownet_SVG.js"></script>

  <div class="instruction">
    <h1>INSTRUCTIONS</h1></br></br>
    <p>This experiment aims at observing whether variations in luminance might impact perception of motion of particles flowing along edges in a graph.</p>

    <!-- <p>Below you can see the differents speed level that you will need to focus on:</p> -->
    <!-- </br>
    <div id=mainMotionDiv> </div>
    <span class=leftSpan> Low value</span> <span class=rightSpan> High value</span>
    </br></br>
    </br>
    <p>And here you can see the differents level of luminance that will be used:</p>
    </br>
    <div id=secondMotionDiv> </div>
    <span class=leftSpan> Low value</span> <span class=rightSpan> High value</span>
    </br></br>
    </br></br> -->
    <p> During each trial, a graph will be displayed. Two edges will be tagged as <strong>A</strong> and <strong>B</strong>. These are the edges that you will have to focus on.
      <strong>A</strong> is the <strong>reference edge</strong> and <strong>B</strong> is the <strong>response edge</strong>.</br></br>
      At the trial start, the speed of edge <strong>B</strong> is superior or inferior to that of edge <strong>A</strong>. Pressing the space bar key modifies the speed of edge <strong>B</strong> so that it tends to edge speed A.
      Press Space bar <strong>until you perceive the speed of edge A and B as similar</strong>. Once you notice the similarity, click button <strong>next trial</strong> to validate you result. 
      <!-- The goal of each trial is,  <strong>depending of the instruction</strong>, to  <strong>decrease or increase</strong> the speed of the particles of edge B
      <strong>until</strong> you notice a <strong>difference</strong> with the speed of the particles of edge A.</br></br>
      To do so you will have two button: <strong>"Increase Motion"</strong> that you can call by pressing <strong>right arrow key</strong>
      and <strong>"Decrease Motion"</strong> that you can call by pressing <strong>left arrow key</strong>. Once you are satisfied of the result you can press enter
      to got to the next trial. -->
    </p>
    </br>
    </br>
    <button id="submit" type="submit" class="flat_button">Start training session</button>

  </div>

  <script>

    speed = [1, 1.9, 3.61, 6.86, 13.034, 24.8]

    frequencyDefault = [1.0125]

    patternDefault = [10]

    heightDefault = [5]

    luminance_achromatic = ["#d9d9d9","#bdbdbd","#969696","#737373","#525252", "#252525"]

    graph = {"directed": false, "graph": {},
      "nodes": [{"Y": 20, "X": -700, "name": 0, "id": 0}, {"Y": 20, "X": -550, "name": 1, "id": 1},
        {"Y": 20, "X": -450, "name": 2, "id": 2}, {"Y": 20, "X": -300, "name": 3, "id": 3},
        {"Y": 20, "X": -200, "name": 4, "id": 4}, {"Y": 20, "X": -50, "name": 5, "id": 5},
        {"Y": 20, "X": 50, "name": 6, "id": 6}, {"Y": 20, "X": 200, "name": 7, "id": 7},
        {"Y": 20, "X": 300, "name": 8, "id": 8}, {"Y": 20, "X": 450, "name": 9, "id": 9},
        {"Y": 20, "X": 550, "name": 10, "id": 10}, {"Y": 20, "X": 700, "name": 11, "id": 11}],
      "links": [

        {"color": "black","frequency": frequencyDefault[0], "speed": speed[0], "pattern":patternDefault[0], "id": 0, "source":"0", "target":"1"},

        {"color": "black","frequency": frequencyDefault[0], "speed": speed[1], "pattern":patternDefault[0], "id": 1, "source":"2", "target":"3"},

        {"color": "black","frequency": frequencyDefault[0], "speed": speed[2], "pattern":patternDefault[0], "id": 2, "source":"4", "target":"5"},

        {"color": "black","frequency": frequencyDefault[0], "speed": speed[3], "pattern":patternDefault[0], "id": 3, "source":"6", "target":"7"},

        {"color": "black","frequency": frequencyDefault[0], "speed": speed[4], "pattern":patternDefault[0], "id": 4, "source":"8", "target":"9"},

        {"color": "black","frequency": frequencyDefault[0], "speed": speed[5], "pattern":patternDefault[0], "id": 5, "source":"10", "target":"11"}
              ],
      "multigraph": false}

    d3.select("#mainMotionSpan").append('text').text(" the Speed").style('font-weight', 'bold')
    //console.log(checkedVariable);
    d3.select("#mainMotionDiv").append('svg').attr('id', "mainMotionSVG").attr('width', 1500).attr('height', 40)
    app = flownet.graph('#mainMotionSVG')
      .nodes(graph.nodes)
      .links(graph.links)

      .node_properties("color", "#999797")
      .node_properties("size", 7)
      .node_properties("x", function(d, i) {return d.X + 750; })
      .node_properties("y", function(d, i) {return d.Y;  })

      .link_properties("color", "#dddddd")
      .link_properties("size", 8)

      .particles('computationalMethod', "Speed-Spacing-RelativePattern")
      .particles('spacing', 20)
      .particles('height', 3)
      .particles('pattern', [0.0])
      .particles('speed', function(d,i){
        return 12*speed[Number(d.id)]
      })
      .particles('color', "black")
      .particles('size', 8)

      //.start(0);

    d3.select("#secondMotionSpan").append('text').text(" the Luminance").style('font-weight', 'bold')
    d3.select("#secondMotionDiv").append('svg').attr('id', "secondMotionSVG").attr('width', 1500).attr('height', 40)
    for (var i = 0; i < luminance_achromatic.length; i++) {
      d3.select("#secondMotionSVG").append("rect")
        .attr("x", 50+ i*100 + i*150)
        .attr("y", 10)
        .attr("height", 20)
        .attr("width", 150)
        .attr("fill", luminance_achromatic[5-i])
      luminance_achromatic[i]
    }

  // J'ajoute plus un a la redirection
  $( "#submit" ).click(function() {
    var URL = window.location.href;
    var res = URL.split("/");
    window.location = '/application/count_groups/0';

  });
  </script>
</html>
