

<link rel="stylesheet" href="assets/css/login.css">

<div class="login">

	<form method="post" action="/send_form" name="form_send">

	  <input type="text" name="user_id" placeholder="ID" required value=0><br/>
		<input type="text" name="name" placeholder="FirstName" value=a><br/>

		<input type="text" name="age" placeholder="Age" value=22><br/>
		<br/>
		Handedness : <input type="radio" name="hand" value="right" id="right" /> <label for="right"> Right</label>
  	<input type="radio" name="hand" value="left" id="left" /> <label for="left">Left</label>
		<br/><br/>
		Gender : <input type="radio" name="gender" value="female" id="female" /> <label for="female"> Female</label>
  	<input type="radio" name="gender" value="male" id="male" /> <label for="male">Male</label>
		<br/><br/>
		<br/><br/>
		Motion variables :<br/>
			Cross: <input type="checkbox" name="crossCheck" id="crossCheck">
			Speed: <input type="checkbox" name="speedCheck" id="speedCheck">
			Temporal: <input type="checkbox" name="temporalCheck" id="temporalCheck">
			Frequency: <input type="checkbox"name="frequencyCheck" id="frequencyCheck">
		<br/><br/>
		Visual variables:<br/>
			Color: <input type="checkbox" name="colorCheck">
			Size: <input type="checkbox" name="sizeCheck">
			Shape: <input type="checkbox"name="shapeCheck">


	<br/><br/><br/>


	  <button type="submit" class="btn btn-primary btn-block btn-large">Start</button>
	</form>
</div>

<script>

document.getElementById("crossCheck").onclick = function() {
	if ( document.getElementById("crossCheck").checked ){
		document.getElementById("frequencyCheck").disabled = true
		document.getElementById("speedCheck").disabled = true
	}else{
		document.getElementById("frequencyCheck").disabled = false
		document.getElementById("speedCheck").disabled = false
	}
}
document.getElementById("speedCheck").onclick = function() {
	if ( document.getElementById("speedCheck").checked ){
		document.getElementById("frequencyCheck").disabled = true
		document.getElementById("crossCheck").disabled = true
	}else{
		document.getElementById("frequencyCheck").disabled = false
		document.getElementById("crossCheck").disabled = false
	}
}
document.getElementById("frequencyCheck").onclick = function() {
	if ( document.getElementById("frequencyCheck").checked ){
		document.getElementById("crossCheck").disabled = true
		document.getElementById("speedCheck").disabled = true
	}else{
		document.getElementById("crossCheck").disabled = false
		document.getElementById("speedCheck").disabled = false
	}
}
</script>

<script>

</script>
