
<link rel="stylesheet" href="assets/css/instruction.css">
<script src="lib/jquery.min.js"></script>

<div class="practice">
	<p>You have completed all the practice trials</p>
	<p>From now all trials will be used in final analysis</p>
	 <button id="submit" type="submit" class="flat_button2">Start next trial</button>
	</form>
</div>

<script>
// J'ajoute plus un a la redirection
$( "#submit" ).click(function() {
	var URL = window.location.href;
	console.log("Store Data")
	window.location = '/application/count_groups/4';

});
</script>

<script>
